.subtitulo4 {
    border-bottom: 1px solid #EDEDED;
    width: 1250px;
    margin-left: 120px;
    margin-top: 300px;
    padding: 20px;
 
 
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 }
 .s1 {
    width: 371px;
    height: 30px;
    display: flex;
    margin-left: -10px;
    font-size: 22px;
    color: #666666;
 }
 
 
 .categories {
    padding: 5px;
    font-size: 22px;
    margin-left: -190px;
    color: #008ECC;
 }
 
 
 .view {
    width: 82px;
    height: 18px;
    margin-left:680px;
 }

 .shop {
    width: 1440px;
    height: 90px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
 }

.mobile {
   width: 132px;
   height: 132px;
   margin-left: 120px;
   border: 1px solid #008ECC;
   border-radius: 100%;
   background-color: #F5F5F5;
}

.mobile1 {
   width: 52px;
   height: 98px;
   display: flex;
   margin: auto;
   margin-top: 17px;
}

.nombre1 {
   width: 49px;
   height: 20px;
   margin-top: 20px;
   margin-left: 35px;
   color: #000000;
}


.mobile2 {
   width: 132px;
   height: 132px;
   margin-left: 60px;
   border: 1px solid #F5F5F5;
   border-radius: 100%;
   background-color: #F5F5F5;
}

.mobile3 {
   width: 52px;
   height: 98px;
   display: flex;
   margin: auto;
   margin-top: 17px;
}

.nombre2 {
   width: 49px;
   height: 20px;
   margin-top: 20px;
   margin-left: 20px;
   color: #000000;
}


.mobile4 {
   width: 132px;
   height: 132px;
   margin-left: 60px;
   border: 1px solid #F5F5F5;
   border-radius: 100%;
   background-color: #F5F5F5;
}

.mobile5 {
   width: 100px;
   height: 98px;
   display: flex;
   margin: auto;
   margin-top: 17px;
}

.nombre3{
   width: 49px;
   height: 20px;
   margin-top: 20px;
   margin-left: 15px;
   color: #000000;
}

.mobile6 {
   width: 132px;
   height: 132px;
   margin-left: 60px;
   border: 1px solid #F5F5F5;
   border-radius: 100%;
   background-color: #F5F5F5;
}

.mobile7 {
   width: 100px;
   height: 98px;
   display: flex;
   margin: auto;
   margin-top: 17px;
}

.nombre4{
   width: 49px;
   height: 20px;
   margin-top: 20px;
   margin-left: 15px;
   color: #000000;
}

.mobile8 {
   width: 132px;
   height: 132px;
   margin-left: 60px;
   border: 1px solid #F5F5F5;
   border-radius: 100%;
   background-color: #F5F5F5;
}

.mobile9 {
   width: 100px;
   height: 98px;
   display: flex;
   margin: auto;
   margin-top: 17px;
}

.nombre5{
   width: 49px;
   height: 20px;
   margin-top: 20px;
   margin-left: 25px;
   color: #000000;
}


.mobile10 {
   width: 132px;
   height: 132px;
   margin-left: 60px;
   border: 1px solid #F5F5F5;
   border-radius: 100%;
   background-color: #F5F5F5;
}

.mobile11 {
   width: 100px;
   height: 98px;
   display: flex;
   margin: auto;
   margin-top: 17px;
}

.nombre6{
   width: 49px;
   height: 20px;
   margin-top: 20px;
   margin-left: 35px;
   color: #000000;
}


.mobile12 {
   width: 132px;
   height: 132px;
   margin-left: 60px;
   border: 1px solid #F5F5F5;
   border-radius: 100%;
   background-color: #F5F5F5;
}

.mobile13 {
   width: 124px;
   height: 98px;
   display: flex;
   margin: auto;
   margin-top: 17px;
}

.nombre7{
   width: 49px;
   height: 20px;
   margin-top: 20px;
   margin-left: 15px;
   color: #000000;
}